/*sm=600*/
/*md=900*/
/*lg=1200*/
/*xl=1600*/



@media only screen and (min-width:300px){
	.section.one{
		background-size: 250% 100%;
		background-position: -50px;
	}
	.section.two{
		background-position: -130px;
		background-size: 200% 100%;
	}
	.section.five{
		background-position: right;
	}
	.header{
		padding: 0 0;
	}
	.header__left{
		padding: 0px 50px;
	}
}

@media only screen and (min-width:600px){
	.section.one{
		background-size: 200% 100%;
		background-position: -150px;
	}
	.section.two{
		background-size: 200% 100%;
		background-position: -200px;
	}
	.section.three{
		background-size: cover;
		background-position: center;
	}
	.section.four{
		background-size: 250% 100%;
		background-position: center;
	}
	.section.five{
		background-size: 200% 100%;
		background-position: -600px;
	}
	.header{
		padding: 0 0;
	}
	.header__left{
		padding: 0px 122px;
	}
}



@media only screen and (min-width:900px){
	.section.one{
		background-size: cover;
		background-position: -50px;
	}
	.section.two{
		background-size: cover;
		background-position: -100px;
	}
	.section.three{
		background-size: cover;
		background-position: center;
	}
	.section.four{
		background-size: 170% 100%;
		background-position: center;
	}
	.section.five{
		background-size: cover;
		background-position: right;
	}
	.header{
		padding: 0 0;
	}
	.header__left{
		padding: 0px 122px;
	}

}

@media only screen and (min-width:1200px){
	.section.one{
		background-size: cover;
		background-position: center;
	}
	.section.two{
		background-size: cover;
		background-position: center;
	}
	.section.three{
		background-size: cover;
		background-position: center;
	}
	.section.four{
		background-size: cover;
		background-position: center;
	}
	.section.five{
		background-size: cover;
		background-position: center;
	}
}

@media only screen and (min-width:1600px){
	.section.one{
		background-size: cover;
		background-position: center;
	}
	.section.two{
		background-size: cover;
		background-position: center;
	}
	.section.three{
		background-size: cover;
		background-position: center;
	}
	.section.four{
		background-size: cover;
		background-position: center;
	}
	.section.five{
		background-size: cover;
		background-position: center;
	}
}