@media screen and (max-width: 767px) {
  
.hello{
    overflow-x: hidden;
    width: 100%;
    overflow-x: hidden;

}

.backgd{
    width: 100%;
    height: 650px;
    /* background-image: none; */
    background-color: rgba(30, 41, 46, 1);
    overflow-x: hidden;
    background-position: right;


}

.nav-bar{
    height: 80px;
    width: 375px;


}

.logo{
    background-image: url(../img/Untitled\(2\).png);
    width: 20px;
    height: 80px;
    padding-top: 0px;
    padding-left: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;

}

.content{
    padding-left: 2%;
    padding-right: 10%;
    overflow-x: hidden;


}
h1{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    height: 120px;
    width: 100%;
    letter-spacing: 1.6px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;


}

.whoweare{
    margin-top: 0px;
    padding-left: 0;
    padding-bottom: 100px;
    width: 90%;
    padding-top: 0px;
    font-weight:300;
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;

}

.partnerscontainer{
    padding-left: 2%;
    overflow-x:hidden;
    padding-right: 0%;
}
.partnerscontainer .title h2{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 40, 0.8);
}

.partnerscontainer .partnerlogo .img{
    box-shadow: 0 4px 8px 0 rgba(73, 72, 72, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-style:inherit;
    border-radius: 15px;
    margin-right: 4%;
    width: 100px;
    margin-bottom:25px ;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.0);
}

.partnerscontainer .partnerlogo .img img{
    
    width:80px;
    height: 50px;
    transform: translateY(10px);
    transform: translateX(10px);
}



.services{
    width: 100%;
    margin-top: 100px;

    
    
}

.services .main-block{
    width:80% ;
    margin-left: -2%;
    margin-top: 100px;
    display: block;
    

}



.services .main-block .firstblock{
    width: 100%;
    padding-top: 0px;


}

.services .main-block .firstblock .left{
    width: 55px;
    height: 55px;

}

.services .main-block .firstblock .left img{
    width: 70px;
}

.services .main-block .firstblock .right {
    display: inline-block;
    padding-left: 65px;
    line-height: 30px;
    padding-top: 0px;
}

.services .main-block .firstblock .right .title{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9);
}
.services .main-block .firstblock .right .disc{
    display: inline-block;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}


/* //////////////////// */
.services .main-block .secondblock{
    width: 100%;
    display: block;
    margin-left: 30px;
    padding-top: 0px;


}

.services .main-block .secondblock .left{
    width: 55px;
    height: 55px;
}

.services .main-block .secondblock .left img{
    width: 70px;
    transform: translateX(-10px);
}

.services .main-block .secondblock .right {
    display: inline-block;
    transform: translateY(-75%);
    padding-left: 70px;
    line-height: 30px;
    padding-top: 0px;
}

.services .main-block .secondblock .right .title{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9);
}
.services .main-block .secondblock .right .disc{
    display: inline-block;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.services .main-block .thirdblock{
    width: 100%;
    display: block;
    margin-left: 30px;
    padding-top: 0px;


}

.services .main-block .thirdblock .left{
    width: 55px;
    height: 55px;
}

.services .main-block .thirdblock .left img{
    width: 70px;
    transform: translateX(-10px);
}

.services .main-block .thirdblock .right {
    display: inline-block;
    transform: translateY(-75%);
    padding-left: 70px;
    line-height: 30px;
    padding-top: 0px;
}

.services .main-block .thirdblock .right .title{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9);
}
.services .main-block .thirdblock .right .disc{
    display: inline-block;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

footer{
    width: 100%;
    height: 900px;
    background-color: rgba(30, 41, 46, 1);
    overflow-x: hidden;
}

footer .left-bar{
    height: max-content;
    width: 100%;
    display: block;
}

footer .left-bar .left-content{
    height: 100%;
    width: 90%;
    display: block;
    padding-top: 10%;
    padding-left: 2%;
    overflow-x: hidden;
}


footer .left-bar .left-content .location-items .icon{
    width: 40px;
    height: 40px;
}
footer .left-bar .left-content .location-items .content{
    height: 50px;
    width: 80%;
    overflow-y: hidden;
    transform: translateY(-90%);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding-left: 15%;

}
footer .left-bar .left-content .location-items .content .st-no{
    font-weight: bolder;
    letter-spacing: 0.1em;
}


footer .left-bar .left-content .landline-phone .content{
    height: 50px;
    width: 80%;
    overflow-y: hidden;
    padding-left: 10%;
    transform: translateY(-90%);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding-left: 15%;

}
footer .left-bar .left-content .landline-phone .content{
    letter-spacing: 0.1em;
}

footer .left-bar .left-content .phone-items .content{
    height: 50px;
    width: 80%;
    overflow-y: hidden;
    padding-left: 10%;
    transform: translateY(-90%);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding-left: 15%;

}
footer .left-bar .left-content .phone-items .content{
    letter-spacing: 0.1em;
}


footer .left-bar .left-content .emails-items .content{
    height: 80px;
    width: 80%;
    overflow-y: hidden;
    padding-left: 15%;
    transform: translateY(-90%);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    overflow-x: hidden;
    font-size: 11px;

    color: rgba(255, 255, 255, 0.8);

}
footer .left-bar .left-content .emails-items .content{
    letter-spacing: 0.1em;
    transform: translateY(-60px);
}
footer .right-bar{
    height: max-content;
    width: 100%;
    overflow-y: hidden;
    padding-left: 2%;
    transform: translateY(-10%);
    display: inline-block;
    overflow-x: hidden;

}


footer .right-bar .right-content{
    width :100%;
    height: 100%;
    padding-top: 10%;

  
}

footer .right-bar .right-content .title{
    
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
}

footer .right-bar .right-content .content{
    font-weight: 100;
    line-height: 20px;
    padding-left: 0px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
}

}